.input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1px;
  padding: 2px;
  background: #ecf4f6;
  .indicator-value,
  label,
  p {
    font-size: 1rem;
    color: #205f02;
    padding: 0 .5rem;
  }
  .indicator-value {
    width: 2rem;
    max-width: 2rem;
  }
  input,
  select{
    outline: #205f02;
    box-sizing: border-box;
    padding: 2px;
    margin: 3px;
    // width: 80px;
    border: 1px solid #acacac;
    border-radius: 3px; 
    &:focus,
    &:hover {
      border-color: #205f02;
    }
  }
  svg {
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem;
    padding: 2px;
    color: #205f02;
  }
  select,
  [type="text"]{
    width: 150px;
  }
  [type="color"] {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0;
    padding: 0 1px;
    background: #fff;
  }
  [type="range"] {
    cursor: pointer;
    &:hover,
    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #205f02, 0px 0px 1px #205f02;
      }
    }
  }
  .range-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.inputs-container {
  display: flex;
}