@import '../form-constant.scss';

.smart-select {
    color: $text-color;
    position: relative;
    .dropdown-menu {
        min-width: 6rem;
        position: absolute;
        left: 0;
        bottom: 3rem;
        opacity: 0;
        transition: all .4s;
        display: flex;
        flex-direction: column;
        border: 1px solid $success-color;
        .smart-option {
            border: none;
            background: #fff;
            border-bottom: 1px solid $success-color;
            min-height: 2rem;
            width: 100%;
            &:focus,
            &:hover {
                background: #aaa;
            }
        }
        &.is-open {
            opacity: 1;
            z-index: 1000;
            bottom: -5px;
        }
    }
}
