@import './mixin';

form[name=smart-form] {
  @include smart-form();
  .btn{
    @include button-size();
    @each $class, $color in $button-classes-map {
      &.btn-filled.#{$class} {
        @include button-filled($color);
      }
      &.btn-outlined.#{$class}) {
        @include button-outlined($color);
      }
      &.btn-like-label.#{$class} {
        @include button-label($color);
      }
    }
    &:not([disabled]){
      cursor: pointer;
    }
  }
  [type=submit] {
    margin-top: 2rem;
  }
  input[type=reset] {
    cursor: pointer;
  }
}
