@import "../../../../assets/scss/constants";

.nav-dropdown-button {
  //@include set-colors($nav-item-color, #e6b827);
  $color: #e6b827;
  background: transparent;
  padding: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid $color;
  cursor: pointer;
  opacity: 1;
  transition: all .3s;
  &:hover {
    border-color: darken($color, 15%);
    .nav-dropdown-button__center-line {
      background: darken($color, 15%);
      &:after,
      &:before {
        background: darken($color, 15%);
      }
    } 
  }
  .nav-dropdown-button__center-line {
    display: block;
    position: relative;
    height: 2px;
    width: 1.2rem;
    background: $color;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 2px;
      width: 1.2rem;
      background: $color;
      transition: all .3s;
    }
    &:before {
      bottom: 6px;
    }
    &:after {
      top: 6px;
    }
  }
  &.dropdown-open {
     .nav-dropdown-button__center-line {
       background: transparent;
       &:after,
       &:before {
         top: 0;
       }
       &:after {
         transform: rotate(45deg);
       }
       &:before {
         transform: rotate(-45deg);
       }
     }
   }
}
