@import "../../../common/form/mixin";

.forms-wrapper {
  position: relative;
  background-color: white;
  padding: 3rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  width: 90%;
  margin: 0 auto;
  min-width: 250px;
  max-width: 400px;
  &.signup-action {
    .forms-controls {
      min-width: 200px;
      margin: 1rem auto;
    }
    [name=smart-form] {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0;
      > div,
      .smart-input {
        width: auto;
        flex-grow: 1;
        margin: 0;
      }
    }
    @media (min-width: 960px), (orientation: landscape) {
      max-width: 700px;
      [name=smart-form] {
        flex-direction: row;
        flex-wrap: wrap;
        > div,
        > .smart-input {
          width: 45%;
          flex-grow: 1;
          margin: 0 auto;
        }
      }
    }
  }
  .res-message {
    position: absolute;
    white-space: nowrap;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #11aa11;
    background: lighten(#11aa11, 30%);
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    opacity: 1;
    transition: opacity .2s;
    &.res-fail {
      background: lighten(#dc3545, 30%);
      color: #dc3545;
    }
    &.res-hidden {
      background: transparent;
      opacity: 0;
    }
  }
  .forms-controls {
    font-size: 1.6rem;
    width:90%;
    display: flex;
    margin: 1rem 0 2rem;
    .btn.btn-outlined {
      background: transparent;
      font-weight: 600;
      width: 50%;
      font-size: 1.5rem;
      margin: 0;
      cursor: pointer;
      box-sizing: border-box;
      outline: none;
      min-height: $btn-middle-height;
      padding: .8rem 0;
      transition: all .3s;
      @include button-outlined(#11aa11);
      &.bg-active {
        background: lighten(#11aa11, 50%);
      }
      &:first-of-type {
        border-radius: 5px 0 0 5px;
        flex-grow: 1;
      }
      &:last-of-type {
        border-radius: 0 5px 5px 0;
        flex-grow: 1;
      }
    }
  }
  [name=smart-form] {
    margin: auto;
    width: 100%;
    align-self: center;
    $colors: #999999 $hover-color #11aa11 #dc3545;
    @include smart-input_input-padding();
    .smart-input {
      @include smart-input_likeplaceholder-transform((height: 3.4rem, translateY: .9rem, ratio: .5, label-resize: .4rem));
      @include smart-input_border-colors($colors);
    }

    
    // .smart-input.like-placeholder {
      
    //   &.outlined {
    //     .smart-input__input {
    //       @include like-placeholder-input('outlined', 1.2rem, .8rem, $colors, 3.4rem, 5px, 100%)
    //     }
    //     .smart-input__label {
    //       @include like-placeholder-label(1.2rem, 1.5rem, 0.3rem, .8rem, 3.4rem, $placeholder-color #dc3545)
    //     }
    //     .input-error-msg {
    //       @include error-msg(#dc3545)
    //     }
    //   }
    // }
    &:not(.log-form) [type=submit] {
      margin: 1rem auto;
    }
  }
  // reset
  .reset-password-title {
    font-size: 1.2rem;
    margin: .5rem 1rem;
    line-height: 1.6rem;
    text-align: justify;
    color: darken(#11aa11, 10%);
  }
  // signup
  .reg-input-wrapper {
    position: relative;
    .password-eye {
      position: absolute;
      right: 1.3rem;
      top: 50%;
      transform: translateY(-50%);
      height: 2.6rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 12;
      svg {
        color: grey;
      }
    }
  }
  // login
  .forgot-password {
    align-self: flex-end;
    margin-right: 1rem;
    color: #11aa11;
    font-size: 1rem;
    font-weight: 500;
  }
  button.btn {
    height: 3.4rem;
    font-size: 1.5rem;
  }
  @media (min-width: 480px) {
    min-width: 350px;
  }
  @media (min-width: 760px) {
    padding: 3.5rem 3rem;
    width: 100%;
    min-width: 400px;
  }
}