//@import "../../../common/form/mixin";

@mixin tooltip-color (
    $color: #104a01,
    $font: 1rem/1 'Helvetica',
    $background: #cdcdcd,
    $border: false) {
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  font: $font;
  padding: .2rem .3rem;
  border-radius: 2px;
  background: $background;
  @if ($border != false) {
    border: $border;
  }
  color: $color;
  transition: all .5s;
}

@mixin tooltip-variant($away: 2.5rem) {
  position: absolute;
  z-index: 2000;
  &.up {
    left: 0;
    bottom: $away;
  }
  &.down {
    left: 0;
    top: $away;
  }
  &.left {
    right: $away;
    top: 0;
  }
  &.right {
    left: $away;
    top: 0;
  }
  &.up-left {
    right: $away;
    bottom: $away;
  }
  &.up-right {
    left: $away;
    bottom: $away;
  }
  &.down-left {
    right: $away;
    top: $away;
  }
  &.down-right {
    left: $away;
    top: $away;
  }
}

@mixin btn-size($size: 1.8rem 1.8rem, $padding: .2rem, $margin: 0 .5rem) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  height: nth($size, 2);
  min-width: nth($size, 1);
  line-height: nth($size, 2) - .4rem;
  margin: $margin;
  cursor: pointer;
  font-weight: 600;
  svg {
    height: 100%;
    width: 100%;
  }
}

@mixin btn-colors(
    $colors: #205f02 false,
    $background: transparent,
    $border: 1px solid #205f02,
    $border-radius: 3px) {
  border: $border;
  background: $background;
  color: nth($colors, 1);
  border-radius: $border-radius;
  
  & + .btn-tooltip {
    @include tooltip-variant();
    @include tooltip-color(); 
  }
  &:hover,
  &:focus {
    $color: nth($colors, 1);
    & + .btn-tooltip {
      visibility: visible;
      opacity: 1;
    }
    @if(nth($colors, 2) == false) {
      color: lighten($color, 10%);
    }
    @else {
      color: nth($colors, 2)
    }
  }
  &:active {
    @if(nth($colors, 2) == false) {
      $color: nth($colors, 1);
      color: darken($color, 15%);
    }
    @else {
      color: nth($colors, 2)
    }
  }
}
.btn-with-tooltip-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  button,
  .btn-with-tooltip {
    @include btn-size();
    @include btn-colors();
  }
}

