@import "../../../scss/_constants";

.nav-menu-item {
  @include flex();
  background: none;
  max-width: 1000px;
  text-transform: uppercase;
  color: $nav-item-color;
  border-bottom: solid 4px transparent;
  font: 2rem/1  'Calibri', sans-serif;
  font-weight: 500;
  transition: all .5s;
  .nav-icon {
    color: darken($nav-item-color, 10%);
    height: 1.3rem;
    margin-left: 5px;
    transition: all .3s;
  }
  &:focus,
  &:hover,
  &.active {
    outline: none;
    border-bottom: solid 4px $nav-item-color;
    color: darken($nav-item-color, 10%);
    .nav-icon {
      color: $nav-item-color;
      height: 1.3rem;
      margin-left: 5px;
    }
  }
  &:hover{
    cursor: pointer;
  }
  &.active {
    cursor: none;
  }
  &.external-item {
    height: 24px;
    border: none;
    .nav-icon {
      height: 24px;
    }
    &:focus,
    &:hover {
      border: none;
      .nav-icon {
        color: $nav-item-color;
      }
    }
  }
}

