@import "../../assets/scss/constants";

.hero-wrapper {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  display: none;
  border: solid 3px transparent;
  &.active,
  &:focus {
    display: block;
    border-bottom: solid 3px $experience;
    border-top: solid 3px $experience;
    outline: none;
  }
  @media (min-width: 800px) {
    &,
    &.active {
      display: block;
      width: 250px;
      height: 250px;
    }
  }
  @media (min-width: 1600px) {
    &,
    &.active {
      display: block;
      width: 300px;
      height: 300px;
    }
  }
}