.component-enter {
  width: 100%;
  opacity: 0;
}
.component-enter-done {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.trans-form-appear {
  opacity: 0;
  height: 100px;
}
.trans-form-appear-active {
  opacity: 1;
  height: auto;
  transition: all 0.5s ease-out;
}
.trans-form-exit {
  opacity: 1;
}
.trans-form-exit-active {
  opacity: 0;
  height: 100px;
  transition: all 0.5s ease-out;
}

