@import "../../scss/_constants";

.draw-box {
  height: calc(100vh - 120px);
  background: url('#{$imgPath}/start_page_bg.jpg') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0;
  box-sizing: border-box;
  h2 {
    font: $font-main;
    font-size: 2.5rem;
    color: $ice;
    text-align: center;
    margin-bottom: 1rem;
  }
  @media (max-height: 500px) and (orientation: landscape) {
    height: auto;
  }
}

.draw-stage-wrapper {
  box-sizing: border-box;
  background: #fefefe;
  width: 90%;
  max-width: 1200px;
  /*min-width: 800px;*/
  min-height: 400px;
  height: calc(100vh - 400px);
  margin: 0 auto;
  border: solid 5px #64964c;
  .draw-stage {
    width: 100%;
  }
}


