@import "../../../scss/constants";

.nav-dropdown-button {
  @include set-colors($nav-item-color, #e6b827);
  background: transparent;
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  border: 1px solid $main-color;
  cursor: pointer;
  opacity: 1;
  transition: all .3s;
  .nav-dropdown-button__center-line {
    height: 2px;
    width: 1.5rem;
    background: $main-color;
  }
}
