@import "../mixin";

.smart-input {
  @include smart-input();
  .input-error-msg {
    @include error-msg();
  }
  &.in-col {
    flex-direction: column-reverse;
  }
  &.in-row:not(.check-input) {
    justify-content: space-between;
    align-items: center;
    .smart-input__error-wrapper {
      width: 100%;
    }
    .input-error-msg {
      left: .5rem;
      bottom: -1.3rem;
    }
  }
  &.reset-input {
   @include reset-input()
  }
  &.check-input{
    @include check-input();
  }
}

