@import "../../../assets/scss/_constants";

.nav-menu-item {
  @include flex();
  background: none;
  max-width: 1000px;
  text-transform: uppercase;
  color: darken($nav-item-color, 10%);
  border-bottom: solid 4px transparent;
  font: 2rem/1  'Calibri', sans-serif;
  font-weight: 500;
  transition: all .5s;
  box-sizing: border-box;
  .nav-icon {
    color: $nav-item-color;
    height: 1.3rem;
    margin-left: 5px;
    transition: all .3s;
  }
  &:focus,
  &:hover,
  &.active {
    outline: none;
    border-bottom: solid 4px $nav-item-color;
    color: $nav-item-color;
    .nav-icon {
      color: darken($nav-item-color, 10%);
      height: 1.3rem;
      margin-left: 5px;
    }
  }
  &.active {
    border-color: transparent;
  }
  &:hover{
    cursor: pointer;
  }
  &.active {
    cursor: none;
  }
  &.external-item {
    padding: 0;
    border: none;
    .nav-icon {
      color: darken($nav-item-color, 10%);
      height: 24px;
    }
    &:focus,
    &:hover {
      border: none;
      .nav-icon {
        color: $nav-item-color;
      }
    }
  }
}

