@import "../assets/scss/constants";

.game-wrapper {
  width: 100%;
  height: 100vh;
  .game-screen {
    width: 100%;
    height: 100vh;
  }
  .menu-back {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
  }
}
