@import "../../../scss/constants";
$imgPath: '../../../assets/images';

.header {
  background: url('#{$imgPath}/header_bg.jpg') no-repeat center;
  background-size: 100% 100%;
  @include flex(center, flex-start)
}
.header__content-wrapper {
  box-sizing: border-box;
  height: 50px;
  padding: 1rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  @include flex( space-between, center);
  @media (min-width: $pad-width) {
    height: 120px;
    padding: 20px 2rem 0;
  }
  .header__right-bar {
    justify-self: flex-end;
    width: 5rem;
    @include flex(space-between, center);
  }
  .wb-logo {
    justify-self: flex-start;
    color: $nav-item-color;
    font-size: 2.5rem;
    margin-right: 1rem;
    &:focus {
      color: darken($nav-item-color, 10%);
    }
  }
}