.component-enter {
  width: 100%;
  opacity: 0;
}
.component-enter-done {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.transition-wrapper-appear {
  opacity: 0;
  height: 100px;
}
.transition-wrapper-appear-active {
  opacity: 1;
  height: auto;
  transition: all 0.5s ease-out;
}
.transition-wrapper-exit {
  opacity: 1;
}
.transition-wrapper-exit-active {
  opacity: 0;
  height: 100px;
  transition: all 0.5s ease-out;
}

